Source: ros-groovy-depthcloud-launch
Section: misc
Priority: extra
Maintainer: Julius Kammerl <jkammerl@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: http://ros.org/wiki/depthcloudjs
Standards-Version: 3.9.2

Package: ros-groovy-depthcloud-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-depthcloud-encoder, ros-groovy-depthcloud-www, ros-groovy-openni-launch, ros-groovy-ros-web-video, ros-groovy-rosbridge-server
Description: Server tools to
